#container,
#container>div {
  height: 100vh;
  width: 100vw;
}
#container {
  margin-left: 0;
  margin-right: 0;
}
#navbar {
  background-color: #2b2e39;
}
.navbar-inverse .navbar-brand {
  color: #ffffff;
}
.nav.navbar-nav li a {
  font-size: 1.3em;
  color: #ffffff;
}
.nav.navbar-nav li a:hover {
  color: #de4f4f;
}
.navbar-brand {
  background-color: #de4f4f;
}
.home-image{
  height: 100%;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, .15), rgba(0, 0, 0, .15)), url('../assets/recode.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin-top: -23px;
}
.home-inner-text {
  position: relative;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.home-inner-text h1 {
  color: #ffffff;
}
.home-button-left,
.home-button-right {
  height: 60px;
}
.home-button-left:hover,
.home-button-right:hover {
  background-color: #a83636;
}
.home-button-left {
  background-color: #de4f4f;
}
.home-button-right {
  background-color: transparent;
  border: 1px solid #ffffff;
}
.about,
.why-row {
  width: 100%;
  height: 70%;
}
.about {
  border-bottom: 2px solid #eee;
}
.sub-header {
  width: 15%;
  margin-bottom: 35px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.sub-header h5 {
  text-align: center;
  border-bottom: 4px solid #de4f4f;
}
.why-icon {
  text-align: center;
  margin-bottom: 25px;
}
.companies {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
